<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <!-- 浏览器主体 -->
    <div class="contain" id="player">
        <!-- 1.顶部 -->
        <div class="header">
            <!-- 1.1顶部左侧logo -->
            <div class="logo">点歌</div>
            <!-- 1.2搜索框 -->
            <input class="search" type="text" placeholder="搜索你喜欢的歌" v-model="query" @keyup.enter="searchMusic">
            <button class="searchBtn" @click="searchMusic">搜索</button>
        </div>
        <!-- 2.中间主体 -->
        <div class="section">
            <!-- 2.1搜索歌曲结果列表 -->
            <ul class="music_list">
                <li v-for="(item,index) in musicList">
                    <a href="javascript:;" @click="playMusic(item.id)">{{index+1}}.{{item.name}}</a>
                </li>
            </ul>
            <!-- 2.2歌曲封面部分 -->
            <div class="banner">
                <img src="./img/bg.jpg">
                <img :src="picUrl" alt="">
            </div>
            <!-- 2.3评论部分 -->
            <div class="common">
                <h4>热门留言</h4>
                <ul class="msg">
                    <li v-for="(item,index) in hotComments">
                        <table>
                            <tr>
                                <td class="profile" rowspan="2"><img :src="item.user.avatarUrl" class="profile"></td>
                                <td>
                                    <h5>{{item.user.nickname}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{item.content}}</p>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 3.底部 -->
        <div class="footer">
            <audio :src="musicUrl" autoplay="autoplay" controls="controls" loop="loop" class="playAudio"></audio>
        </div>
    </div>
    <script src="../开发版/vue.js"></script>
    <script src="../开发版/axios.min.js"></script>
    <script src="./js/main.js"></script>
    <script>
        var app = new Vue({
            el: "#player",
            data: {
                query: "",
                musicList: [],
                musicUrl: "",
                picUrl: "",
                hotComments: []
            },
            methods: {
                /* 
                 *  歌曲搜索接口
                 *  请求地址：https://autumnfish.cn/search
                 *  请求方法：get
                 *  请求参数：keywords(歌曲名关键字)
                 *  响应内容：歌曲搜索结果
                 * 
                 *  歌曲地址接口
                 *  请求地址：https://autumnfish.cn/song/url
                 *  请求方法：get
                 *  请求参数：id(歌曲id)
                 *  响应内容：歌曲url地址
                 * 
                 *  歌曲详情（封面）接口
                 *  请求地址：https://autumnfish.cn/song/detail
                 *  请求方法：get
                 *  请求参数：ids(歌曲id)
                 *  响应内容：歌曲详情，包含封面信息
                 * 
                 *  热门评论接口
                 *  请求地址：https://autumnfish.cn/comment/hot?type=0
                 *  请求方法：get
                 *  请求参数：id(歌曲id,type固定为0)
                 *  响应内容：歌曲的热门评论
                 */
                // 1.歌曲搜索
                searchMusic: function() {
                    if (this.query != "") {
                        var that = this;
                        axios.get("https://autumnfish.cn/search?keywords=" + this.query).then(function(response) {
                            // console.log(response.data.result.songs);
                            that.musicList = response.data.result.songs;
                        }, function(error) {
                            console.log(error);
                        })
                    } else {
                        alert("搜索内容不能为空");
                    }

                },
                // 2.歌曲播放
                playMusic: function(musicId) {
                    // console.log(musicId);
                    var that = this;
                    // 2.1获取歌曲地址
                    axios.get("https://autumnfish.cn/song/url?id=" + musicId).then(function(response) {
                        // console.log(response.data.songs[0].al.piclUrl);
                        that.musicUrl = response.data.data[0].url;
                    }, function(error) {
                        console.log(error);
                    });

                    // 2.2获取歌曲详情页
                    axios.get("https://autumnfish.cn/song/detail?ids=" + musicId).then(function(response) {
                        // console.log(response.data.songs[0].al.picUrl);
                        that.picUrl = response.data.songs[0].al.picUrl;
                    }, function(error) {
                        console.log(error);
                    });

                    // 2.3获取热门评论
                    axios.get("https://autumnfish.cn/comment/hot?type=0&id=" + musicId).then(function(response) {
                        console.log(response.data.hotComments);
                        that.hotComments = response.data.hotComments;
                    }, function(error) {
                        console.log(error);
                    });
                }
            }
        })
    </script>
</body>

</html>